<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="city-image" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0, 0, 0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
  </div>

  <div class="main-content">
    <div class="col-xs-12 col-sm-6 col-md-4 user-profile">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle" %>
      <p><%= flat.name %></p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 flat-infos">
      <h1><%= flat.description %></h1>
      <p><%= flat.city_name %></p>

      <div class="ranking">
        <%  if flat.rating >= 5 %>
              <i class="fa fa-star"></i><i class="fa fa-star good-star"></i><i class="fa fa-star good-star"></i><i class="fa fa-star good-star"></i><i class="fa fa-star good-star"></i>
        <%  elsif flat.rating >= 4 %>
              <i class="fa fa-star good-star"></i><i class="fa fa-star good-star"></i><i class="fa fa-star good-star"></i><i class="fa fa-star good-star"></i><i class="fa fa-star bad-star"></i>
        <%  elsif flat.rating >= 3 %>
              <i class="fa fa-star good-star"></i><i class="fa fa-star good-star"></i><i class="fa fa-star good-star"></i><i class="fa fa-star bad-star"></i><i class="fa fa-star bad-star"></i>
        <%  elsif flat.rating >= 2 %>
              <i class="fa fa-star good-star"></i><i class="fa fa-star good-star"></i>
        <%  elsif flat.rating >= 1 %><i class="fa fa-star bad-star"></i><i class="fa fa-star bad-star"></i><i class="fa fa-star bad-star"></i>
              <i class="fa fa-star good-star"></i><i class="fa fa-star bad-star"></i><i class="fa fa-star bad-star"></i><i class="fa fa-star bad-star"></i><i class="fa fa-star bad-star"></i>
        <%  end %>
      </div>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 form">
      <form>
        <h1>Book this flat</h1>
        <div class="form-group">
         <input class="form-control form-control-lg" type="text" placeholder="first name">
         <input class="form-control form-control-lg" type="text" placeholder="last name">
        </div>
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1 guest</option>
            <option>2 guests</option>
            <option>3 guests</option>
          </select>
        </div>
        <a href="" class="my-button-form">Book it</a>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="bottom-infos">
      <div barre></div>
      <h1>About this flat</h1>
    </div>


  </div>

</div>





